#chessboard{
    display: grid;
    grid-template-rows: 45px repeat(8, 90px) 45px;
    grid-template-columns: 45px repeat(8, 90px) 45px;
    gap: 0;
}

.row{
    display: flex;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: #455A64;
}

.label{
    background-color: #455A64;
    color: white;
}

.white{
    background-color: wheat;
}

.black{
    background-color: #607d8b;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}
